// interactions

.impressions
  .text-center
    h2 impressions
    // pages
    // flag the different tag
  // TODO: store test in db and generate unique id - grab all tests and loop through them
  .test
    .text-center
      p home page
    table.table
      thead
        tr
          th compare against
          th env
          th tag
      tbody.test
        tr
          td.env
            .radio
              label.radio-inline
                input(type='radio', name='compare_ci' disabled='disabled')
                | ci
          td.env_url
            a(href="http://www.ci.apartmentguide.com" data-env='ci') ci #{profile}
          td tag
        tr
          td.env
            .radio
              label.radio-inline
                input(type='radio', name='compare_qa' disabled='disabled')
                | qa
          td.env_url
            a(href="http://www.qa.apartmentguide.com" data-env='qa') qa #{profile}
          td tag
        tr
          td.env
            .radio
              label.radio-inline
                input(type='radio', name='compare_prod' checked='checked')
                | prod
          td.env_url
            a(href="http://www.apartmentguide.com" data-env='prod') prod #{profile}
          td tag
    button.btn.btn-primary(type='button') Edit
hr

script(src='/js/custom/playback.js')
