footer
  .container.text-center
    | <a href="javascript:void(0)"> LOGIN</a>
// jQuery
script(src='js/jquery.js')
// Bootstrap Core JavaScript
script(src='js/bootstrap.min.js')
// Plugin JavaScript
script(src='js/jquery.easing.min.js')
script(src='js/grayscale.js')
