footer
  .container.text-center
    | <a href="javascript:void(0)"> LOGIN </a>
    p.api_online.hidden
      span.light.label.label-success api online
    p.api_offline.hidden
      span.light.label.label-danger api offline

script(src='/js/grayscale.js')
