nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
        i.fa.fa-bars
      // a.navbar-brand.page-scroll(href='#page-top')
      a.navbar-brand.page-scroll(href='/')
        i.fa.fa-home
        span.light Home
      a.navbar-brand.page-scroll(href='/play')
        i.fa.fa-play-circle
        span.light Play
      a.navbar-brand.page-scroll(href='/record')
        i.fa.fa-circle-o
        span.light Rec
    .collapse.navbar-collapse.navbar-right.navbar-main-collapse
      ul.nav.navbar-nav
        li.hidden
          a(href='/#page-top')
        li
          a.page-scroll(href='/#about') About
        li
          a.page-scroll(href='/#download') Download
