include ./includes/nav.jade

header.intro
  .intro-body
    .container
      .row
        .col-md-8.col-md-offset-2
          h1.brand-heading Snapshot
          p.intro-text
            | Compare tags via proxy
            br
          a.btn.btn-circle.page-scroll(href='#about')
            i.fa.fa-angle-double-down.animated
// About Section
section#about.container.content-section.text-center
  .row
    .col-lg-8.col-lg-offset-2
      h2 About Snapshot
      p
        | Snapshot is a tool used to record and compare tag based web requests.
        | Build a test suite for your tags in no time!

section#download.content-section.text-center
  .download-section
    .container
      .col-lg-8.col-lg-offset-2
        h2 Download Snapshot
        p Clone from GITHUB
        a.btn.btn-default.btn-lg(href='https://github.com/lfender6445/snapshot') Visit Download Page

include ./includes/footer.jade
