include ./includes/nav.jade

section.container.content-section.text-center
  .row
    .col-lg-8.col-lg-offset-2
      h1= title
      if profile
        include ./play/impressions.jade
        include ./play/clicks.jade
      else
        p Select a profile:
        | <a href="/play/ag"> ApartmentGuide </a>

include ./includes/footer.jade
